[Unit]
Description=My ecommerce
After=network-online.target

[Service]
Type=simple
User= {{ APP_USER }}
ExecStart=/usr/bin/java -jar {{ APP_DIR }}/application.jar --server.port=5000
Restart=always

[Install]
WantedBy=multi-user.target
